* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.navbar {
    background-color: #668c4d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 20px;

}

.navbar .nav__item {
    padding: 9px 0;
}

.hero {
    display: flex;
    background-image: url(../img/Fondo\ bosque.jpg);
    height: 350px;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: rgba(102, 140, 77, 0.5);
    color: white;
    text-align: center;
    padding: 45px 25px;
    border-radius: 17px;
}

.events {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-bottom: 20px;
}

.events img {
    width: 270px;
}

.button__event {
    background-color: #668c4d;
    padding: 21px 7px;
    border-radius: 17px;
    cursor: pointer;

}

.button__item {
    color: white;
    text-decoration: none;
    padding: 17px 20px;
}

.guests {

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFE0;
    gap: 20px;
}

.guest-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.guest__title {
    font-size: 40px;
    padding: 40px 0;
}

.card__guest {
    width: 370px;
    height: 370px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;

}

.image {
    width: 100%;
    height: 270px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.card__guest--description {

    text-align: center;
    font-size: 18px;
    padding: 10px 0;
}

.footer {
    background-color: #668c4d;
    padding: 27px 0;
}

.footer__title {
    font-weight: 900;
    font-size: 27px;
    text-align: center;
    color: white;
}

@media (min-width: 992px) {
    .navbar {
        flex-direction: row;
        justify-content: space-between;
        padding: 0 50px;
    }

    .events {
        flex-direction: row;
        justify-content: space-evenly;
        padding: 0 50px;
    }

    .guests {
        padding-top: 30px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .guest-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}

.types {
    margin: 0 30px;
    margin-top: 35px;
    font-size: 27px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.articles{

    margin: 0 30px;
    margin-top: 35px;
    margin-bottom: 35px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 25px;

}

